<!--div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">

  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>

</div-->


<div fxLayout="row wrap">

<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">

  <mat-carousel timings="250ms ease-in"
                [autoplay]="true"
                interval="3000"
                color="accent"
                maxWidth="auto"
                proportion="30"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="false"
                [useKeyboard]="true"
                [useMouseWheel]="false"
                orientation="ltr"

  >

    <mat-carousel-slide image = "../../assets/carousel/cuba-1197800_1920.jpg">

    </mat-carousel-slide>


    <mat-carousel-slide image = "../../assets/carousel/cuban-1376110_1920.jpg">

    </mat-carousel-slide>

    <mat-carousel-slide image = "../../assets/carousel/havana-3004582_1920.jpg">

    </mat-carousel-slide>

    <mat-carousel-slide image = "../../assets/carousel/havana-2151324_1920.jpg">

    </mat-carousel-slide>

    <mat-carousel-slide image = "../../assets/carousel/havana-2632193_1920.jpg">

    </mat-carousel-slide>

  </mat-carousel>


</div>


</div>



<app-list-rent></app-list-rent>

<app-about-us></app-about-us>




  <!--div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card class="oh">
      <a href="/addrent" style="color: black;">

        <img mat-card-image src="../../../assets/images/rent/+.png" alt="Photo of a Shiba Inu"    >

        <mat-card-content style="margin-bottom: 0px;">

          <mat-card-actions>



          </mat-card-actions>
        </mat-card-content>
      </a>
    </mat-card>
  </div-->





