<div fxFlex fxLayout fxLayoutAlign="flex-end" >
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a routerLink="/welcome">Welcome</a></li>
        <li><a routerLink="/aboutus">About</a></li>
        <li><a routerLink="/rent/list">Rents</a></li>
        <li *ngIf="user!=null"><a routerLink="/rent/list/{{user.id}}">My business</a></li>
        <li><a routerLink="/contactus">Contact</a></li>
        <li *ngIf="user==null" ><a routerLink="/authentication/login">Login</a></li>
    </ul>
</div>


<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button *ngIf="user!=null" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" style="margin-left: 25px;">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
</button>

<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon > Sign Out </button>
</mat-menu>
