<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="150" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <mat-card-title>About Us</mat-card-title>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,
          sed bibendum turpis luctus eget </p>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="33.333" fxFlex.gt-md="33.333" fxFlex.gt-sm="33.333" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <mat-card-title>Our Story</mat-card-title>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum posuere augue eget ante porttitor fringilla. Aliquam laoreet, sem eu dapibus congue, velit justo ullamcorper urna, non rutrum dolor risus non sapien. Vivamus vel tincidunt quam. Donec ultrices nisl ipsum, sed elementum ex dictum nec.
          In non libero at orci rutrum viverra at ac felis. Curabitur a efficitur libero, eu finibus quam. Pellentesque pretium ante vitae est molestie, ut faucibus tortor commodo. Donec gravida, eros ac pretium cursus, est erat dapibus quam, sit amet dapibus nisl magna sit amet orci.
        </p>

      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex.gt-lg="33.333" fxFlex.gt-md="33.333" fxFlex.gt-sm="33.333" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <mat-card-title>Our Philosophy</mat-card-title>
        <p>We work harder,
          to let our user keep simple </p>

      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex.gt-lg="33.333" fxFlex.gt-md="33.333" fxFlex.gt-sm="33.333" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <mat-card-title>Our Experience.</mat-card-title>
        <div fxLayout="row wrap">
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <h4 class="skills">Front End: {{value1}}%</h4>
          </div>
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-progress-bar mode="determinate" value="{{value1}}"></mat-progress-bar>
          </div>
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <h4 class="skills">Front End: {{value2}}%</h4>
          </div>
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-progress-bar mode="determinate" value="{{value2}}"></mat-progress-bar>
          </div>
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <h4 class="skills">Front End: {{value3}}%</h4>
          </div>
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-progress-bar mode="determinate" value="{{value3}}"></mat-progress-bar>
          </div>
        </div>


      </mat-card-content>

    </mat-card>

  </div>

</div>