
<div fxLayout="row wrap">

  <div *ngIf="user.id == rent.ownerid" style="margin-right: 15px;"  fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <a routerLink="/rent/delete/{{rent.id}}" style="color: red" ><mat-icon  class="pull-right" > delete </mat-icon></a>
    <a routerLink="/rent/addrent/{{rent.id}}"  style="color: #e9ab2e" ><mat-icon  class="pull-right" > edit </mat-icon></a>
  </div>

  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>
          {{rent.name}}

          <mat-card-subtitle>
              {{rent.owner }}
          </mat-card-subtitle>
      </mat-card-title>
    </mat-card-header>



      <mat-card-content style="margin-bottom: 0px;">

        <div fxLayout="row wrap">
        <div fxFlex.gt-lg="50"  fxFlex.gt-md="50"  fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
          <img mat-card-image src="{{rent.img}}" alt="Photo of a Shiba Inu"    >

          <mat-card-actions>

              <mat-icon *ngFor="let item of rent.services; let i = index;" style="margin: 5px;" >{{item.code}}</mat-icon>

            <!--img Q hacer con  las imagenes ????  *ngIf="rallServicesices.live_tv"  style="margin-left: 5px;" src="../../assets/images/bath.png" -->

          </mat-card-actions>
        </div>

        <div fxFlex.gt-lg="50"   fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

          <div style="text-align: center;">


            <h1 style="margin-bottom: 0px;" ><sup>$</sup>{{rent.price}} </h1>
            <mat-card-subtitle class="mat-text-primary" style="margin-left: 10px;">per night</mat-card-subtitle>

          </div>
          <div style="margin: 20px;">

            <p>{{rent.description}}</p>

            <div style="display: inline-block;width: 100%;margin-top: 25px;" >
              <mat-icon >phone</mat-icon>
              <div class="text-muted"> {{rent.phone}}</div>
            </div>

            <div style="display: inline-block;width: 100%;margin-top: 25px;">
              <mat-icon>email</mat-icon>
              <div class="text-muted"> {{rent.email}}</div>
            </div>

            <!--div style="display: inline-block;width: 100%;margin-top: 25px;">
              <img *ngIf="rent.services.live_tv"  style="margin-left: 5px;" src="../../assets/images/icons8-address-24.png" >
              <div class="text-muted">{{rent.address}}</div>
            </div-->

          </div>






        </div>

          <div  style="margin-right: 15px;"  fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <button class="pull-right" mat-raised-button color="warn" fxFlexAlign="end" (click)="onCancel();"  >Cancel</button>

          </div>


      </div>
      </mat-card-content>

  </mat-card>
  </div>


</div>