
<mat-card class="mat-elevation-z8" >
  <a routerLink="/rent/detailrent/{{rent.id}}"   style="color: black;">

    <mat-card-header>
      <mat-card-title>{{rent.name}}</mat-card-title>
      <mat-card-subtitle>{{rent.owner}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-bottom: 0px;padding: 10px 0px 10px 0px;">
      <div fxLayout="row wrap">

        <div [ngStyle]="{'background': 'url('+ rent.image+ ')', 'background-repeat': 'no-repeat'}"    style="height: 250px; background-size: cover; "  fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        </div>
        <div style="padding: 12px;"    fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card-actions>
            <mat-icon *ngFor="let item of rent.services; let i = index;" style="margin: 5px;" >{{item.code}}</mat-icon>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-content>
  </a>
</mat-card>

